<form action="<%= albums_url %>" method='POST'>
<input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
<label>Band
<select name="album[band_id]">
<% @bands.each do |band| %>
    <option value="<%= band.id %>" <%= "selected" if @album.band_id == band.id %>>
    <%= band.name %></option>
    
<% end %>
</select>
</label>
<label>Name:
    <input type='text' name='album[title]' value=''>
</label>
<br>
<label>Year:
    <input type='text' name='album[year]' value=''>
</label>
<br>
<select name="album[live]">Live or Studio
<option value=true>Live </option>
<option value=false>Studio </option>
</select>
<input type="hidden" name="album[band_id]" value="<%= @album.band_id %>">
<input type="submit" value="Create">
</form>