<h1>Here's the Album's Info</h1>
<label>
Title: 
<%= @album.title %>
<%= link_to "Edit", edit_album_url(@album) %>
</label>
<br>
<label>
Year: 
<%= @album.year %>
</label>
<br>
<label>
Band: 
<a href="<%= band_url(@album.band_id) %>"> <%= @album.band.name %></a>
</label>
<br>
<label>
Type:
<% if @album.live %>
    Live
<% else %>
    Studio 
<% end%>
</label>
<br>
<label>Tracks
<ul>
<% @album.tracks.each do |track| %>
    <li>
    <a href="<%= track_url(track) %>"><%= track.title %></a>
    </li>
<% end%>
</ul>
</label>
<br>
<a href="<%= new_album_track_url(@album) %>">Create New Track</a>

<!-- <ul>  
    <% @album.tracks.each do |track| %>
    <li>
    <a href="<%= track_url(track) %>"><%= track.title %></a> 
    </li>
    <% end  %>
</ul> -->

    


