<h1>Here's the Info</h1>
<%= @band.name%>
<p>That's it!</p>
<form action="<%= band_url %>" method="POST">
<input type="hidden" name="_method" value="DELETE">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<input type="submit" value="Delete Band">
<br>
<label>Albums!
<ul>
    <% @band.albums.each do |album|%>
        <li>
             
            <a href="<%= album_url(album) %>"><%= album.title %> </a>
        </li>
    <% end %>
</ul>
</label>
</form>





