<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
<%= @post.title %>
<br>
<%= @post.content %>
<br>
<%= link_to 'Edit', edit_post_url %>
<%= button_to "Delete", post_url, method: :delete  %>
<% @post.comments.where(parent_comment_id: nil).each do |comment| %>
  <%= link_to comment.content, comment_url(comment) %>
  
<% end %>

<%= render "comments/new", post:@post %>
