<table>
    <thead>
        <tr>
            <th colspan="2"><%= @cat.name %></th>  
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Attributes</td>
            <td>Value</td>            
        </tr>
        <tr>
            <td>Birthday</td>
            <td><%= @cat.birth_date %></td>            
        </tr>
        <tr>
            <td>Age</td>
            <td><%= @cat.age%></td>            
        </tr>
        <tr>
            <td>Color</td>
            <td><%= @cat.color %></td>            
        </tr>
        <tr>
            <td>Sex</td>
            <td><%= @cat.sex %></td>            
        </tr>
    </tbody>
</table>

<table>
    <thead>
        <tr>
            <th colspan="2">Rental Requests</th>  
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>START DATE</td>    
            <td>END DATE</td>   
            <td>STATUS</td>           
        </tr>
        <% @cat.cat_rental_requests.order(:start_date).each do |request| %>
            <tr>
                <td><%= request.start_date %></td>  
                <td><%= request.end_date %></td>            
                <td><%= request.status %></td>            
                <% if request.pending? %>
                    <td><a href="<%=deny_cat_cat_rental_request_url(id: request.id, cat_id: request.cat_id) %>" value='DENIED'>DENY</a></td>
                    <td><a href="<%=approve_cat_cat_rental_request_url(id: request.id, cat_id: request.cat_id) %>" value='APPROVED'>APPROVE</a></td>

                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>

<a href="<%=new_cat_rental_request_url%>">New Rental Request</a>
