<!DOCTYPE html>
<html>
  <head>
    <title>Musicapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <header>
   <h1>Music App</h1>

  </header>
    <% if log_in? %>
      <form action="<%= session_url(current_user) %>" method='POST'>
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Sign Out">
      </form>
    <% else%>
      <form action="<%= new_session_url %>" method='POST'>
      <input type="hidden" name="_method" value="GET">
      <input type="submit" value="Sign In">
      </form>
      <br>
      <form action="<%= new_user_url %>" method='POST'>
      <input type="hidden" name="_method" value="GET">
      <input type="submit" value="Sign Up">
      </form>
    <% end %>
    <%= yield %>
  </body>
</html>
