<!DOCTYPE html>
<html>
  <head>
    <title>Musicapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <header>
   <h1>Music App</h1>
  </header>
    <% if log_in? %>
      <%= current_user.email %>
      <form action="<%= session_url(current_user) %>" method='POST'>
      <input type="hidden" name="_method" value="DELETE">
      <input type="hidden" name="authenticity_token"
    value="<%= form_authenticity_token %>">
      <input type="submit" value="Sign Out">
      </form>
    <% else%>
      <a href="<%= new_session_url %>">Sign In</a>
      <a href="<%= new_user_url %>">Sign Up</a>
    <% end %>
    <br>
    <% flash[:errors].try(:each) do |error| %>
      <%= error %>
    <% end%>
    <%= link_to "All the Bands", bands_url %>
    <br>
    <%= link_to "Homepage", user_url(current_user) %>
    <br>
    
    <%= yield %>
  </body>
</html>
